[submodule "core-geonetwork"]
	path = core-geonetwork
	url = https://github.com/wktsi/core-geonetwork.git
	branch = 3.4.x
[submodule "snig-services"]
	path = snig-services
	url = https://github.com/wktsi/snig-services.git
	branch = 3.4.x
[submodule "iso19139.pt.mig.2.0"]
	path = iso19139.pt.mig.2.0
	url = https://github.com/wktsi/iso19139.pt.mig.2.0.git
	branch = 3.4.x
[submodule "geonetwork-snig-view"]
	path = geonetwork-snig-view
	url = https://github.com/wktsi/geonetwork-snig-view.git
	branch = 3.4.x
